* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a, li {
  text-decoration: none;
  list-style: none;
  color: black;
}

a:hover {
  background: rgba(0, 0, 0, .05);
}

body {
  width: 100vw;
  height: 100vh;
}

#header {
  width: 100vw;
  height: 70px;
  background-color: #e1e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}


#menu {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-menu {
  display: none;
}


@media (max-width: 600px) {

  #header {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
  }

  #btn-menu {
    display: block;
    padding: 2px;
  }

  #menu {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    right: 0;
    background-color: #e7e7e7;
  }

  #nav.active #menu {
    display: block;
  }

  #menu a {
    padding: 3% 4%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #menu a:hover {
    background-color: #e1e0e0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: .6s;
  }
}