* {
  margin: 0;
  padding: 0;
}

.menu-header {
  background-color: #c4c4c4;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 20px;
}

.navbar {
  width: auto;
}

.menu {
  display: flex;
  list-style: none;
  
}

.menu .menu-itens {
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px
}


.menu .menu-itens:hover {
  background-color: #8483832a;
}
